body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    margin: 3rem 0;
}

h1, h2, h3, h4, p {
    margin: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.num {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}

.container > div:nth-child(5n + 1) {
    background-color: #212121;
}

.container > div:nth-child(5n + 2) {
    background-color: #278C7A;
}

.container > div:nth-child(5n + 3) {
    background-color: #C8E6C9;
}

.container > div:nth-child(5n + 4) {
    background-color: #0A89A6;
}

.container > div:nth-child(5n + 5) {
    background-color: #93A603;
}

.container {
    display: grid;
}

.ex_1 {
    grid-template-columns: 1fr 1fr;
}

.ex_2 {
    grid-template-columns: 250px 1fr 2fr 20%;
}

.ex_3 {
    grid-template-columns: 250px 1fr 2fr 20%;

    & > div {
        display: flex;
        justify-content: center;
    }
}

.ex_4 {
    grid-template-columns: 250px 1fr 2fr 20%;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
    }
}

.ex_5 {
    grid-template-columns: 250px 1fr 2fr 20%;
    grid-template-rows: auto 300px auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ex_6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 300px auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }
}

.ex_7 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 300px auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }
}

.ex_8 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }
}

.ex_9 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    & > div:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: span 4;
    }
}

.ex_9_1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    & > div:nth-child(9) {
        grid-column: 1 / span 4;
    }
}

.ex_10 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    & > div:nth-child(3) {
        grid-row: 2 / span 3;
    }

    & > div:nth-child(9) {
        grid-column: 1 / span 4;
    }
}

.ex_11 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    & > div:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    & > div:nth-child(3) {
        grid-row: 2 / span 3;
    }

    & > div:nth-child(7) {
        grid-column: 4;
        grid-row: 3 / span 2;
    }

    & > div:nth-child(8) {
        grid-column: 2 / span 2;
    }

    & > div:nth-child(9) {
        grid-column: 1 / span 4;
    }
}

.ex_12 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 20px;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div:nth-child(1) {
        grid-column: 1 / span 2;
    }

    & > div:nth-child(2) {
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
    }

    & > div:nth-child(3) {
        grid-row: 2 / span 3;
    }

    & > div:nth-child(7) {
        grid-column: 4;
        grid-row: 3 / span 2;
    }

    & > div:nth-child(8) {
        grid-column: 2 / span 2;
    }

    & > div:nth-child(9) {
        grid-column: 1 / span 4;
    }
}

.ex_13 {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-areas:
    "n1 n1 n2 n2"
    "n3 n4 n2 n2"
    "n3 n5 n6 n7"
    "n3 n8 n8 n7"
    "n9 n9 n9 n9";

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:nth-child(1) { grid-area: n1; }
  & > div:nth-child(2) { grid-area: n2; }
  & > div:nth-child(3) { grid-area: n3; }
  & > div:nth-child(7) { grid-area: n7; }
  & > div:nth-child(8) { grid-area: n8; }
  & > div:nth-child(9) { grid-area: n9; }
}